@import '../../styles/mixins';
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;

  @include for-phone-only {
    padding: 0 70px;
    grid-template-columns: 100%;
    row-gap: 30px;
  }

  @include for-tablet-portrait-up {
    padding: 0 40px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }

  @include for-tablet-landscape-up {
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 15px;
  }

}
